<div class="flex">
    <div class="flex gap-2 text-sm">
        <img src="https://styles.redditmedia.com/t5_38ilc/styles/communityIcon_n3tkf538pvo11.jpg"
            class="w-6 h-6 rounded-full" alt="">
        <div class="opacity-70 font-bold">r/investimentos</div>
        <div class="opacity-70">•</div>
        <div class="opacity-70">10 days ago</div>
    </div>

    <div class="ml-auto flex gap-3">
        <app-card-post-header-edit-modal [publication]="publication" />
        <app-card-post-header-exclude-modal [publication]="publication" />
    </div>
</div>