<div class="flex gap-5">
    <div class="flex items-center text-sm gap-1 bg-gray-800 py-1 px-3 rounded-full">
        <ng-icon name="octChevronUp"></ng-icon>
        <span>10</span>
        <ng-icon name="octChevronDown"></ng-icon>
    </div>
    <div class="flex items-center text-sm gap-1 bg-gray-800 py-1 px-3 rounded-full">
        <ng-icon name="octCommentDiscussion"></ng-icon>
        <span>10</span>
    </div>
    <div class="flex items-center text-sm gap-1 bg-gray-800 py-1 px-3 rounded-full">
        <ng-icon name="octShare"></ng-icon>
        <span>Share</span>
    </div>
</div>
